<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>CFBundleDevelopmentRegion</key>
    <string>zh_CN</string>
    <key>CFBundleDisplayName</key>
    <string>MacPotPlayer</string>
    <key>CFBundleExecutable</key>
    <string>$(EXECUTABLE_NAME)</string>
    <key>CFBundleIconFile</key>
    <string>AppIcon</string>
    <key>CFBundleIdentifier</key>
    <string>com.macpotplayer.app</string>
    <key>CFBundleInfoDictionaryVersion</key>
    <string>6.0</string>
    <key>CFBundleName</key>
    <string>MacPotPlayer</string>
    <key>CFBundlePackageType</key>
    <string>APPL</string>
    <key>CFBundleShortVersionString</key>
    <string>1.0.0</string>
    <key>CFBundleVersion</key>
    <string>1</string>
    <key>LSMinimumSystemVersion</key>
    <string>13.0</string>
    <key>NSHumanReadableCopyright</key>
    <string>© 2026 MacPotPlayer</string>
    <key>NSPrincipalClass</key>
    <string>NSApplication</string>
    <key>LSApplicationCategoryType</key>
    <string>public.app-category.video</string>
    <key>CFBundleDocumentTypes</key>
    <array>
        <dict>
            <key>CFBundleTypeName</key>
            <string>Video File</string>
            <key>CFBundleTypeRole</key>
            <string>Viewer</string>
            <key>LSHandlerRank</key>
            <string>Alternate</string>
            <key>CFBundleTypeExtensions</key>
            <array>
                <string>mp4</string>
                <string>mkv</string>
                <string>avi</string>
                <string>mov</string>
                <string>wmv</string>
                <string>flv</string>
                <string>webm</string>
                <string>m4v</string>
                <string>ts</string>
                <string>m2ts</string>
                <string>mts</string>
                <string>mpg</string>
                <string>mpeg</string>
                <string>vob</string>
                <string>ogv</string>
                <string>3gp</string>
                <string>rmvb</string>
                <string>rm</string>
                <string>hevc</string>
                <string>h264</string>
                <string>h265</string>
                <string>av1</string>
                <string>f4v</string>
            </array>
        </dict>
        <dict>
            <key>CFBundleTypeName</key>
            <string>Audio File</string>
            <key>CFBundleTypeRole</key>
            <string>Viewer</string>
            <key>LSHandlerRank</key>
            <string>Alternate</string>
            <key>CFBundleTypeExtensions</key>
            <array>
                <string>mp3</string>
                <string>aac</string>
                <string>flac</string>
                <string>wav</string>
                <string>ogg</string>
                <string>opus</string>
                <string>wma</string>
                <string>m4a</string>
                <string>aiff</string>
                <string>alac</string>
                <string>ape</string>
            </array>
        </dict>
    </array>
    <key>CFBundleURLTypes</key>
    <array>
        <dict>
            <key>CFBundleURLName</key>
            <string>com.macpotplayer.app</string>
            <key>CFBundleURLSchemes</key>
            <array>
                <string>macpotplayer</string>
            </array>
        </dict>
    </array>
    <key>NSDocumentsFolderUsageDescription</key>
    <string>MacPotPlayer 需要访问文档以打开媒体文件</string>
    <key>NSDownloadsFolderUsageDescription</key>
    <string>MacPotPlayer 需要访问下载文件夹以打开媒体文件</string>
    <key>NSDesktopFolderUsageDescription</key>
    <string>MacPotPlayer 需要访问桌面以打开媒体文件</string>
    <key>NSUserNotificationsUsageDescription</key>
    <string>MacPotPlayer 用通知告知截图已保存</string>
</dict>
</plist>
